@import 'bulma/css/bulma.css';

.app {
  width: 100vw;
  height: 100vh;
}

.projects{
  max-width: 80vw;
  margin:auto;
}

.welcome-content{
  text-align: center;
}

.cardList{
  padding: 8px;
  transition: background-color 0.2s ease;
  flex-grow: 1;
  min-height:100px;
}

.workflow-lane{
  margin: 8px;
  border-radius: 2px;
  width: 220px;
  display: flex;
  flex-direction: column;
}
.workflow-lane header{
  cursor: pointer;
}

.currency-form-container{
  padding: 25px;
  max-width: 400px;
  margin:auto;
  border: 1px solid #dbdbdb;
  border-radius:5px;

}
